<div>
  <div data-dojo-attach-point="opacitySlider" data-dojo-type="esri/widgets/Slider" showbuttons="true" value="0" minimum="0" maximum="100" discretevalues="101" intermediatechanges="true" style="width:100%;" data-dojo-attach-event="change: _onAlphaChanged">
    <div data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" labels="${nls.opaque},${nls.transparent}" style="height: 1.5em; font-size: 0.8em; color: #666">
    </div>
    <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration" count="5" style="height: 5px;">
    </div>
    <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration" style="height: 1em; font-size: 0.75em; color: darkblue;">
      <li>${_nls0}</li>
      <li>${_nls50}</li>
      <li>${_nls100}</li>
    </ol>
  </div>
</div>